---
import BaseLayout from "../layouts/BaseLayout.astro";
import { loadQuery } from "../lib/loadQuery";
import { VisualEditing } from "@sanity/astro/visual-editing";

const inPreviewMode = Astro.url.href.includes("preview") ? true : false; // maybe replace this with regex in future match ?preview exactly
const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";

const { data: posts } = await loadQuery({
  query: `*[_type == "post"]{ _id, slug, publishedAt, title }`,
  params: {},
  enabled: inPreviewMode,
});

const data: any = posts;
// console.log(data);
---

<BaseLayout title="Astro">
  <h1>My Website</h1>
  <ul>
    {
      data.map((post: any) => (
        <li class="hover:underline">
          <a href={`/posts/${post.slug.current}`}>
            <h2 class="text-xl font-semibold">{post.title}</h2>
            <p>{new Date(post.publishedAt).toLocaleDateString()}</p>
          </a>
        </li>
      ))
    }
  </ul>
  <!-- todo: figure out how to make this global, baselayout? how do define inPreviewMode for query then?-->
  <VisualEditing enabled={visualEditingEnabled} zIndex={10000} />
</BaseLayout>
